<footer class="footer">
    <div class="social-icons">
      <a href="https://www.facebook.com" target="_blank">
        <img src="assets/facebook-logo.png" alt="img" class="icon">
      </a>
      <a href="https://www.twitter.com" target="_blank">
        <img src="assets/twitter-logo.png" alt="img" class="icon">
      </a>
      <a href="https://www.google.com" target="_blank">
        <img src="assets/google-logo.webp" alt="img" class="icon">
      </a>
      <a href="https://www.linkedin.com" target="_blank">
        <img src="assets/linkedin-logo.webp" alt="img" class="icon">
      </a>
    </div>
  
    <div class="powered-by">
      <span>&#169; 2017 Sri Ragavendra Travels.All rights reserved | Powered by Seveal</span>
    </div>
  </footer>
  