<div class="navbar">
    <div class="nav-contact-info">
        <div class="nav-contact-info-div">
           <p><span class="phone"><img src="assets/call-logo.svg" alt="pic" class="img1"><span style="color: black;">Phone:</span> {{ phoneNumber }}</span></p>
           <p><span class="email"><img src="assets/email-logo.svg" alt="pic" class="img1"><span style="color: black;">Email:</span> {{ email }}</span></p>
        </div>
    </div>
    <div class="nav-about-us">
        <div class="main-logo">
            <img src="assets/logosri.png" alt="pic" class="img2">
        </div>
        <div class="logo1">
            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#Services">Services</a></li>
                <li><a href="#Sabarimalai Packages">Sabarimalai Packages</a></li>
                <li><a href="#Tour / Special Tour">Tour / Special Tour</a></li>
                <li><a href="#Contact us">Contact us</a></li>

            </ul>
        </div>
    </div>
</div>  

