<div>
<div class="carousel">
    <div class="carousel-track" [style.transform]="getTransform()">
      <img src="assets/god-img1.jpg" alt="Image 1" class="carousel-image">
      <img src="assets/god-img2.jpg" alt="Image 2" class="carousel-image">
      <img src="assets/god-img3.jpg" alt="Image 3" class="carousel-image">
      <img src="assets/god-img3.jpg" alt="Image 4" class="carousel-image">
    </div>
</div>
<div style="width: 80%;">
<div>
    <img src="assets/banner-main.png" alt="Image" class="banner-img">
</div>
<div class="home-para">
    <div>
        <h1 class="home-heading">Our Packages</h1>
        <p class="home-para1">Sri Ragavendra is a Travels in Tenkasi with decades of experience 
            in providing tour packages. Our travels offer many choices of Tours
            for Couples, Family, Students, Group/Corporate. All Kinds Of Car, Van, 
            Bus hire & Rental are available with us. We can arrange variety of Tour 
            Packages including Sabarimala packages, Wildlife tour Packages, Hill 
            Station Tour Packages, Honey Moon Packages, Yercaud Packages, Coorg 
            packages, ooty Packages, Munnar Packages, Kodaikanal Packages, Bandipur
            Packages, Masinagudi Packages along with hotel Bookings for 24/7.</p>
        <p class="home-para1">For more details on our tour packages you can reach <span style="color: orange;">M.Saravanan</span>
            <span style="color: blue;">Call : +91 9443172505 (or) +91 9500666550 (or) 04633225556</span></p>
    </div>
</div>
<div class="home-container">
    <div class="labels">
      <span>Sabarimalai</span>
      <span>Tour</span>
      <span>Special</span>
    </div>
    <div class="images">
      <img src="assets/sabarimalai-package.png" alt="Sabarimalai Image" class="image">
      <img src="assets/tour-package.png" alt="Tour Image" class="image">
      <img src="assets/special-package.png" alt="Special Image" class="image">
    </div>
    <div class="image-links">
       <a href="#sabarimalai">Click here to view more</a>
       <a href="#tour">Click here to view more</a>
       <a href="#special">Click here to view more</a>
    </div>
</div>
<div>
    <div class="home-para">
        <div>
            <h1 class="home-heading">Our Rate and Rariff</h1>
            <p class="home-para1">We have different variants of
                 these vehicles available to meet every customer’s
                  particular needs, and our pricing slabs make it 
                  highly cost-effective. Book your rental car through 
                  Sri Ragavendra Travels today, and travel in immense 
                  comfort with complete peace of mind.</p>
        </div>
    </div>
</div>
<div>

</div>

</div>
</div>
  
